<%- include('./partials/head.ejs'); %>
<body class="text-light bg-dark">
  <h1>API de Productos</h1>
  <h2>Listado de productos</h2>
    <div class="tabla">
    <table class="table">
      <thead class="table-light">
        <th>Producto</th>
        <th>Precio</th>
        <th>Imagen</th>
      </thead>
      <tbody>
        <% productos.forEach(function(producto){ %>
        <tr>
        <td><%=producto.title%></td>
        <td>U$D <%=producto.price%></td>
        <td><img src="<%=producto.thumbnail%>" alt="<%=producto.title%>" width="50px" height="50px"></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    </div>
    <br>
    <div class="proxima">
        <div class="botonNext"><button type="button" class="btn btn-outline-danger"><a id="next" href="/">Cargar producto</a></button></div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
  crossorigin="anonymous"></script>
</body>
</html>
